doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title TicTacToe
    link(rel='stylesheet', href='/style.css')
  body
    .container
      .row
        h1.text-center Tic Tac Toe
        .screen
        h4#p1 Player 1
        input#p1box(type='text' placeholder='P1 Tag')
        h4#p2 Player 2
        input#p2box(type='text' placeholder='P2 Tag')
      .row    
        button#start Start!
    
    .container    
      .gameMat
        table#board
          tr#row1
            td#1.box(data-value='1')
            td#2.box(data-value='2')
            td#3.box(data-value='3')
          tr#row2
            td#4.box(data-value='4')
            td#5.box(data-value='5')
            td#6.box(data-value='6')
          tr#row3
            td#7.box(data-value='7')
            td#8.box(data-value='8')
            td#9.box(data-value='9')
      
        #newbtn                
          button#newgame New Game
    
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/main.js')
