doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title TicTacToe
    link(rel='stylesheet', href='/style.css')
  body
    .container
      .row
        h1.text-center Tic Tac Toe
        .screen
        h4#p1 Player 1
        input#p1box(type='text' placeholder='P1')
        h4#p2 Player 2
        input#p2box(type='text' placeholder='P2')
      .row    
        button#start(type='button') Go!
        
      .gameMat
        table#board
          h4 Game On!
          tr#row1
            td.box(data-pos='1')
            td.box(data-pos='2')
            td.box(data-pos='3')
          tr#row2
            td.box(data-pos='4')
            td.box(data-pos='5')
            td.box(data-pos='6')
          tr#row3
            td.box(data-pos='7')
            td.box(data-pos='8')
            td.box(data-pos='9')
      
        #newbtn                
          button#new(type='button') new game
    
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/main.js')
